alembic==1.8.0
asyncpg==0.26.0
azure-storage-blob==12.11.0
azureml-core==1.42.0
azureml-mlflow==1.42.0
cachetools==5.2.0
click==8.1.3
fastapi==0.85.1
grpcio-tools==1.47.0
grpcio==1.47.0
gunicorn==20.1.0
httpx==0.23.0
ipython==8.6.0
mlflow==1.26.0
numpy==1.23.1
prometheus-fastapi-instrumentator==5.9.1
psycopg2-binary==2.9.3
python-jose[cryptography]==3.3.0
requests==2.28.1
SQLAlchemy[asyncio]==1.4.36
starlette-context==0.3.4
toloka-kit==1.0.0rc1
uvicorn[standard]==0.19.0
